<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기술을 익히자!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .make-center {
            text-align: center;
        }

        .term-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .term-name {
            display: inline-block;
        }

        .term-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }
    </style>
    
    <script>
        $(document).ready(function () {
            // index.html 로드가 완료되면 자동으로 show_term() 함수를 호출합니다.
            terms_list();
        });

        function terms_list() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        show_term(response['terms_list'])
                    }
                }
            });
        }
        function show_term(terms_list) {
            // console.log(terms_list);
            $('#term-box').empty();  // 초기화 
            // 50개를 표시 위해 for of 사용 
            for (let term of terms_list) {
                console.log(term);
                let temp_card = `
                    <div class="card">
                        <div class="card-content">   
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-48x48">
                                <img
                                src="${term.img_url}"
                                alt="Placeholder image"
                                />
                            </figure>
                            </div>
                            <div class="media-content">
                            <a href="#" target="_blank" class="term-name title is-4">${term.name} (좋아요: ${term.like})</a>
                            <p class="subtitle is-6">s${term.recent}</p>
                            </div>
                        </div>
                        </div>
                        <footer class="card-footer">
                        <a href="#" onclick="like_term('${term.name}')" class="card-footer-item has-text-info">
                            위로!
                            <span class="icon">
                            <i class="fas fa-thumbs-up"></i>
                            </span>
                        </a>

                        <a href="#" onclick="unlike_term('${term.name}')" class="card-footer-item has-text-info">
                            아래로!
                            <span class="icon">
                            <i class="fas fa-thumbs-down"></i>
                            </span>
                        </a>




                        <a href="#" onclick="delete_term('${term.name}')" class="card-footer-item has-text-danger">
                            삭제
                            <span class="icon">
                            <i class="fas fa-ban"></i>
                            </span>
                        </a>
                        </footer>
                    </div>

                    ` ;

                $('#term-box').append(temp_card);   // 카드를 추가 
            }

        }

        function like_term(name) {
            // alert('like'+name);
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {
                    'name_give':name   // 키값 정의 
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];

                        alert(msg);

                        window.location.reload();
                    }
                }
            });
        }


       
       

    </script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container make-center">
                <h1 class="title">
                    ICT 용어 익히기😆
                </h1>
                <h2 class="subtitle">
                    랜덤하게 보기
                </h2>
            </div>
        </div>
    </section>
    <div class="term-list" id="term-box">


        <!-- <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="#" target="_blank" class="term-name title is-4">김다미 (좋아요: 3)</a>
                        <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" onclick="like_term('김다미')" class="card-footer-item has-text-info">
                    위로!
                    <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                    </span>
                </a>

                <a href="#" onclick="unlike_term('김다미')" class="card-footer-item has-text-info">
                    아래로!
                    <span class="icon">
                        <i class="fas fa-thumbs-down"></i>
                    </span>
                </a>



                <a href="#" onclick="delete_term('김다미')" class="card-footer-item has-text-danger">
                    삭제
                    <span class="icon">
                        <i class="fas fa-ban"></i>
                    </span>
                </a>
            </footer>
        </div> -->


    </div>
</body>

</html>