<!DOCTYPE html>
<html lang="en">

<head>
    <!-- og tag -->
    <meta property="og:title" content="학이시습 불역호아!" />
    <meta property="og:description" content="반복학습이 메타인지에는 가장 좋습니다. 자신이 잘 알고 있는지 점검해 볼 수 있습니다." />
    <meta property="og:image" content="http://www.amylovespet.co.kr/shopimages/lovespet/0120040000343.jpg?1519200763" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학이시습 불역호아!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .make-center {
            text-align: center;
        }
        
        .term-list {
            width: 800px;
            margin: 20px auto 0 auto;
        }
        
        .term-name {
            display: inline-block;
        }
        
        .term-name:hover {
            text-decoration: underline;
        }
        
        .card {
            margin-bottom: 15px;
        }
        /*.termdesc {
            white-space: pre-line;
        }
        */
    </style>

    <script>
        $(document).ready(function() {
            // index.html 로드가 완료되면 자동으로 terms_list() 함수를 호출합니다.
            $('#term-box').empty(); // 초기화
            terms_list();
        });

        window.onscroll = function() {
            let d = document.documentElement;
            let offset = d.scrollTop + window.innerHeight;
            let height = d.offsetHeight;

            if (offset >= height) {
                console.log('At the bottom');
                terms_list();
            }
        };
        let page = 0;

        function terms_list() {
            $.ajax({
                type: 'GET',
                url: '/api/list?page=' + page,
                data: {},
                success: function(response) {
                    if (response['result'] == 'success') {
                        show_term(response['terms_list'])
                        page++;
                    }
                }
            });
        }

        function show_term(terms_list) {
            // console.log(terms_list);
            //$('#term-box').empty(); // 초기화 
            // 모두 표시 위해 for of 사용 
            for (let term of terms_list) {
                //console.log(term);
                let temp_card = `
                    <div class="card">
                        <div class="card-content">   
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-128x128">
                                <img
                                src=" ${term.each_img !=null ? term.each_img:'https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f5d3-fe0f.svg'}  "    
                                alt="Placeholder image"
                                />
                            </figure>
                            </div>
                            <div class="media-content">
                            <a href="#" target="_blank" class="term-name title is-4">${term.each_term} (복습: ${term.like})</a>
                            <p class="subtitle is-6" >s${term.each_desc.replace(/\./g,".</br> &nbsp;&nbsp; ")}</p>
                            </div>
                        </div>
                        </div>
                        <footer class="card-footer">
                        <a href="#" onclick="like_term('${term.each_term}')" class="card-footer-item has-text-info">
                            복습!
                            <span class="icon">
                            <i class="fas fa-thumbs-up"></i>
                            </span>
                        </a>

                        <a href="#" onclick="unlike_term('${term.each_term}')" class="card-footer-item has-text-info">
                            다시 보기!
                            <span class="icon">
                            <i class="fas fa-thumbs-down"></i>
                            </span>
                        </a>

                        <a href="#" onclick="delete_term('${term.each_term}')" class="card-footer-item has-text-danger">
                            학습완료(삭제)!
                            <span class="icon">
                            <i class="fas fa-ban"></i>
                            </span>
                        </a>
                        </footer>
                    </div>

                    `;

                $('#term-box').append(temp_card); // 카드를 추가 

            }

        }




        function like_term(each_term) {
            // alert('like'+name);
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {
                    'term_give': each_term // 키값 정의 -> appy.py로 전달할 key를 'term_giv'로 정의 
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];

                        alert(msg);

                        window.location.reload();
                    }
                }
            });
        }


        function unlike_term(each_term) {
            $.ajax({
                type: 'POST',
                url: '/api/unlike',
                data: {
                    'term_give': each_term // 키값 정의 
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];

                        alert(msg);

                        window.location.reload();
                    }
                }
            });

        }

        function delete_term(each_term) {
            //alert('delete'+name);
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {
                    "term_give": each_term // app.py에서 form을 통해 받은 값 키 term_receive = request.form['term_give'] 
                },
                success: function(response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);

                        window.location.reload();

                    }
                }
            });
        }
    </script>


</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container make-center">
                <h1 class="title">
                    학이시습😆
                </h1>
                <h2 class="subtitle">
                    랜덤하게 학습하기
                </h2>
            </div>
        </div>
    </section>
    <div class="term-list" id="term-box">
    </div>



</body>

</html>